
{% extends "base.twig" %}

{% block content %}

	<h1>{{ title }}</h1>
	<div>
		{{ text }}
	</div>

	<ul>
		<li><a href="{{ path('/') }}">/ <em>(index)</em></a></li>
		<li><a href="{{ path('author') }}">/author</a></li>
		<li><a href="{{ path('books') }}">/books</a></li>
		<li><a href="{{ path('books', { id: 2 }) }}">/books/2</a></li>
		<li><a href="{{ path('books', { id: 55 }) }}">/books/55</a></li>
	</ul>

{% endblock %}